@import "./assets/fonts/fonts.css";
@import "tailwindcss";

@theme {
  --font-sans: "Noto Color Emoji";
  --font-serif: Times, serif;
  --font-mono: monospace;
  --color-custom-red-50: oklch(0.971 0.013 17.38);
  --color-red-100: oklch(0.936 0.032 17.717);
  --color-red-200: oklch(0.885 0.062 18.334);
}
